<%- include('../partials/head') %>
<%- include('../partials/header') %>
<body>
    <link href="index.css" rel="stylesheet" type="text/css">
    <div class="container">
        <% articles.forEach((article)=> { %>
        <div class="row">
            <div class="col-xl-12">
                <div class="card mb-3 card-body">
                    <div class="row align-items-center">
                      
                        <div class="col">
                            <div class="card border-0 bg-light rounded shadow">
                                <div class="card-body p-4">
                                    <% if(article.transaction_type == "BUY"){ %>
                                      <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0"><%= article.transaction_type %></span>
                                      <% } else{ %>  
                                        <span class="badge rounded-pill bg-danger float-md-end mb-3 mb-sm-0"><%= article.transaction_type %></span>
                                        <% } %>
                                    <h5> <%= article.tradingSymbol %></h5>
                                    <div class="mt-3">
                                        <span class="text-muted d-block"><i class="fa fa-home" aria-hidden="true"></i> <a href="#" target="_blank" class="text-muted">Price <%= article.price %></a></span>
                                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= article.product %></span>
                                        <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> <%= article.time %></span>
                                    </div>
                                    
                                    <div class="mt-3">
                                        <a href="#" class="btn btn-primary"><%= article.chart_time %></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    
</body>
<%- include('../partials/footer') %>