<%- include('../partials/head') %>
<%- include('../partials/header') %>


<div class="container">
    <% if(user.request_token && kc){ %>
       
        <div class="jumbotron">
          <h1 class="display-4">Welcome, Sushil!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          
          <% data.forEach((article)=> { %>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card mb-3 card-body">
                        <div class="row align-items-center">
                          
                            <div class="col">
                                <div class="card border-0 bg-light rounded shadow">
                                    <div class="card-body p-4">
                                        <% if(article.tradingsymbol && article.tradingsymbol.slice(-2) == "CE"){ %>
                                          <span class="badge rounded-pill bg-primary float-md-end mb-3 mb-sm-0">CALL</span>
                                          <% } else{ %>  
                                            <span class="badge rounded-pill bg-warning float-md-end mb-3 mb-sm-0">PUT</span>
                                            <% } %>
                                        <h5> <%= article.tradingSymbol %></h5>
                                        <div class="mt-3">
                                            <span class="text-muted d-block"><i class="fa fa-home" aria-hidden="true"></i> <a href="#" target="_blank" class="text-muted">LTP (Price) <%= article.price %></a></span>
                                            <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Order Type <%= article.product %></span>
                                           
                                            <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Buy QTY <%= article.quantity %></span>
                                            <span class="text-muted d-block"><i class="fa fa-map-marker" aria-hidden="true"></i> Trigger Date: <%= new Date(article.exchange_timestamp).toLocaleDateString("de-DE"); %></span>
                                        </div>
                                        
                                        <div class="mt-3">
                                            <a href="#" class="btn btn-primary"><%= new Date(article.exchange_timestamp).getHours()%>:<%=  new Date(article.time).getMinutes()  %></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
       
       
      <% } else{ %>  
        <a href = "https://kite.trade/connect/login?api_key=353th5rd1v3iislo&v=4"> Login </a>
     <% } %>

   
    
</div>

<%- include('../partials/footer') %>

<script>
    function func1(){
      console.log("I am in the click handler 1!"); 
    }
    function func2(){
      console.log("I am in the click handler 2!"); 
    }
  </script>